.menu_ngang{
    display: flex;
}

.menu_ngang li{
    list-style-type: none;
    background-color: aquamarine;
    padding: 10px;
    font-weight: bold;
}

.menu_ngang li:hover{
    background-color: yellow;
    border-radius: 5px;
}

.menu_doc{
    list-style-type: none;
}

.menu_doc li{
    padding: 10px;
    margin: 1px;
    background-color:royalblue;
    width: 200px;
}

.menu_doc li:hover{
    filter: brightness(130%);
    font-style: italic;
}
.sss {
    font-family: "Caramel", cursive;
    font-weight: 400;
    font-style: normal;
  }
  